<form action="/figures/<%= @figure.id %>" method="POST">

    <h3>Edit a figure:</h3>

    <label>Figure Name:</label>
    <input id="figure_name" type="text" name="figure[name]"></input>
    <br></br>

    <label>Choose a Title:</label>
    <br></br>

    <% @titles.each do |title| %>
    <input id="title_<%= title.id %>"type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input>
    <% end %>

  
</form>
