Hello World
<form action="/figures/<%= @figure.id %>" method="POST">

    <h3>Edit a figure:</h3>

    <label>Figure Name:</label>
    <input id="figure_name" type="text" name="figure[name]"></input>
    <br></br>

  
</form>
