<form action="/figures" method="POST">
  <h2>Create a new figure:</h2>
  <br></br>
  <label>Name:</label>
  <input type="text" name="figure[name]"></input>
  <br></br>

  <label>Choose a Title:</label>
  <br></br>

  <% @titles.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]"><%= title.name %></input>
  <% end %>

  <br></br>
  <label>Choose a Landmark:</label>
  <br></br>

  <% @landmarks.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]"><%= landmark.name %></input>
  <% end %>
</form>
